<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>
</head>
<body>
<h1>Users</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Action</th>
    </tr>

    <tr th:each="u : ${allUsers}">
        <td th:text="${u.name}">Name</td>
        <td th:text="${u.surname}">Surname</td>
        <td th:text="${u.age}">Age</td>
        <td><a th:href="@{'/users/edit/' + ${u.id}}">Edit</a></td>
        <td><a th:href="@{'/users/delete/' + ${u.id}}">Delete</a></td>
    </tr>

    <br><br>
</table>

<a href="/users/add">Create new user</a>


</body>

</html>

