<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>
</head>
<body>
<h1>Users</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Username</th>
        <th>Roles</th>
    </tr>

    <tr th:each="u : ${allUsers}">
        <td th:text="${u.name}">Name</td>
        <td th:text="${u.surname}">Surname</td>
        <td th:text="${u.age}">Age</td>
        <td><a th:href="@{'/admin/edit/' + ${u.id}}">Edit</a></td>
        <td><a th:href="@{'/admin/delete/' + ${u.id}}">Delete</a></td>
        <td th:text="${u.username}">Username</td>
        <td th:text="${u.roles}">Roles</td>
    </tr>

    <br><br>
</table>

<a href="/admin/add">Create new user</a>
<br>
<br>
<a href="#" th:href="@{/logout}">Log Out</a>

</body>

</html>

