<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<h1> Edit User</h1>

<form action="#" method="POST" th:action="@{'/admin/edit/' + ${user.id}}" th:object="${user}">
    <label for="name"> Name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br>
    <label for="surname"> Surname</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div>
    <br>
    <label for="age"> Age</label>
    <input type="number" th:field="*{age}" step="1" min="1" max="150" value="30" id="age"/>
    <br>
    <label for="username"> Username</label>
    <input type="text" th:field="*{username}" id="username"/>
    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
    <br>
    <input th:field="*{password}" id="password" type="hidden"/>
    <label for="roles">Roles</label>
    <input type="checkbox" name="roles" id="roles"
           th:each="role : ${allRoles}"
           th:text="${role.name}"
           th:value="${role.id}"
           th:field="*{roles}"
    />
    <br>
    <input type="submit" value="Edit user"/>
</form>
<br>
<a href="#" th:href="@{/logout}">Log Out</a>
</body>
</html>