<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <title>User's Table</title>
</head>
<body>
<div>
    <h2>User's Table</h2>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Role(s)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.roles}"></td>
        </tr>
        </tbody>
    </table>
</div>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
<br>
<a href="#" th:href="@{/logout}">Log Out</a>
</body>
</html>