<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
            integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
            crossorigin="anonymous"></script>
</head>

<body>


<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <b><span class="align-middle" th:text="${currentUser.username}"></span></b>
            <span class="align-middle">with roles:</span>
            <span class="align-middle" th:each="role : ${currentUser.roles}" th:text="${role} + ' '"></span>
        </a>
        <ul class="navbar-nav px-4">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <ul class="nav flex-column">
                <li class="nav-item ">
                    <a class="nav-link rounded"
                       th:classappend="${#httpServletRequest.getRequestURI().equals('/admin') ? 'active bg-primary text-white' : ''}"
                       th:href="@{/admin}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${#httpServletRequest.getRequestURI().equals('/user') ? 'active bg-primary text-white' : ''}"
                       th:href="@{/user}">User</a>
                </li>
            </ul>
        </div>

        <div class="col-10 bg-light" style="height:100vh">

            <h1>Admin panel</h1>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home"
                            type="button" role="tab" aria-controls="home" aria-selected="true">Users table
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile"
                            type="button" role="tab" aria-controls="profile" aria-selected="false">New User
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <div class="card-header">
                        <h5>All users</h5></div>
                    <table class="table table-striped">
                        <tbody id="inputPointUserList">

                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Username</th>
                            <th>Roles</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                                                    <tr  th:each="u : ${allUsers}">

                            <div class="modalEdit">
                                <div class="modal fade" th:id="${'editModal' + u.id}" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                                <button type="button" class="btn-close" data-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <form th:action="@{admin/edit/{id}(id=${u.getId()})}" th:method="put">
                                                <div class="row justify-content-center">
                                                    <div class="col-6 fw-bolder">
                                                        <div class="modal-body text-center">
                                                            <!--                                                    Form for edit user                  -->
                                                            <div class="form-group">
                                                                <label th:for="${'editId'+u.id}">Id</label>
                                                                <input type="text" disabled class="form-control"
                                                                       th:id="${'editId'+u.id}" th:value="${u.id}"
                                                                       name="id">
                                                            </div>
                                                            <br>
                                                            <div class="form-group">
                                                                <label th:for="${'editName'+u.id}">Name</label>
                                                                <input type="text" class="form-control"
                                                                       th:id="${'editName'+u.id}" th:value="${u.name}"
                                                                       name="name">
                                                            </div>
                                                            <br>
                                                            <div class="form-group">
                                                                <label th:for="${'editSurname'+u.id}">Surname</label>
                                                                <input type="text" class="form-control"
                                                                       th:id="${'editSurname'+u.id}"
                                                                       th:value="${u.surname}" name="surname">
                                                            </div>
                                                            <br>
                                                            <div class="form-group">
                                                                <label th:for="${'editAge'+u.id}">Age</label>
                                                                <input type="number" class="form-control"
                                                                       th:id="${'editAge'+u.id}" th:value="${u.age}"
                                                                       name="age" min="0" max="120" step="1">
                                                            </div>
                                                            <br>
                                                            <div class="form-group">
                                                                <label th:for="${'editUsername'+u.id}">Username</label>
                                                                <input type="text" class="form-control"
                                                                       th:id="${'editUsername'+u.id}"
                                                                       th:value="${u.username}" name="username">
                                                            </div>
                                                            <br>
                                                            <div class="form-group">
                                                                <label th:for="${'editPassword'+u.id}">Password</label>
                                                                <input type="password" class="form-control"
                                                                       th:id="${'editPassword'+u.id}" name="password">
                                                            </div>
                                                            <br>
                                                            <div class="mb-3 h6">
                                                                <label th:for="${'editRole'+u.id}"
                                                                       class="col-form-label">Role</label>
                                                                <select class="form-select" multiple
                                                                        aria-label="multiple select example" size="2"
                                                                        name="roles" th:id="${'editRole'+u.id}">
                                                                    <option th:each="role : ${allRoles}"
                                                                            th:value="${role.id}"
                                                                            th:text="${role.name.replace('ROLE_','')}"/>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">Edit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modalDelete">
                                <div class="modal fade" th:id="${'deleteModal' + u.id}" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Edit user</h5>
                                                <button type="button" class="btn-close" data-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>

                                            <form th:action="@{admin/delete/{id}(id=${u.getId()})}" th:method="get">
                                                <div class="row justify-content-center">
                                                    <div class="col-6 fw-bolder">
                                                        <div class="modal-body text-center">

                                                            <div class="form-group">
                                                                <label th:for="${'deleteId'+u.id}">Id</label>
                                                                <input type="text" disabled class="form-control"
                                                                       th:id="${'deleteId'+u.id}" th:value="${u.id}"
                                                                       name="id" readonly="readonly">
                                                            </div>
                                                            <br>
                                                            <div class="form-group">
                                                                <label th:for="${'deleteName'+u.id}">Name</label>
                                                                <input type="text" class="form-control"
                                                                       th:id="${'deleteName'+u.id}" th:value="${u.name}"
                                                                       name="name" readonly="readonly">
                                                            </div>
                                                            <br>
                                                            <div class="form-group">
                                                                <label th:for="${'deleteSurname'+u.id}">Surname</label>
                                                                <input type="text" class="form-control"
                                                                       th:id="${'deleteSurname'+u.id}"
                                                                       th:value="${u.surname}" name="surname"
                                                                       readonly="readonly">
                                                            </div>
                                                            <br>
                                                            <div class="form-group">
                                                                <label th:for="${'deleteAge'+u.id}">Age</label>
                                                                <input type="number" class="form-control"
                                                                       th:id="${'deleteAge'+u.id}" th:value="${u.age}"
                                                                       name="age" min="0" max="120" step="1"
                                                                       readonly="readonly">
                                                            </div>
                                                            <br>
                                                            <div class="form-group">
                                                                <label th:for="${'deleteUsername'+u.id}">Username</label>
                                                                <input type="text" class="form-control"
                                                                       th:id="${'deleteUsername'+u.id}"
                                                                       th:value="${u.username}" name="username"
                                                                       readonly="readonly">
                                                            </div>
                                                            <br>
                                                            <div class="form-group">
                                                                <label th:for="${'deletePassword'+u.id}">Password</label>
                                                                <input type="password" class="form-control"
                                                                       th:id="${'deletePassword'+u.id}" name="password"
                                                                       readonly="readonly">
                                                            </div>
                                                            <br>

                                                            <div class="form-group">
                                                                <label th:for="${'deleteRole'+u.id}">Role</label>
                                                                <select disabled class="form-select" multiple
                                                                        aria-label="multiple select example" size="2"
                                                                        name="roles" th:id="${'deleteRole'+u.id}">
                                                                    <option th:each="role : ${allRoles}"
                                                                            th:value="${role.id}"
                                                                            th:text="${role.name.replace('ROLE_','')}"/>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                        <div class="div modalEditFetch">


                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="mb-3">
                                                    <label for="recipient-name" class="col-form-label">Recipient:</label>
                                                    <input type="text" class="form-control" id="recipient-name">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="message-text" class="col-form-label">Message:</label>
                                                    <textarea class="form-control" id="message-text"></textarea>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Send message</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                </div>
                <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="card-header">
                        <h5>Add new user</h5></div>
                    <div class="row align-items-start">
                        <div class="col-4">
                        </div>
                        <div class="col-4 align-self-center p-3">
                            <form id="testNewUserForm">
                                <div class="mb-10 text-center ">
                                    <label for="addFirstNameField" class="h6 form-label">First name</label>
                                    <input type="text" class="form-control" id ="addFirstNameField">
                                </div>

                                <div class="mb-3 text-center">
                                    <label for="addLastNameField" class="h6 form-label ">Last name</label>
                                    <input type="text" class="form-control" id ="addLastNameField" >
                                </div>

                                <div class="mb-3 text-center">
                                    <label for="addAgeField" class="h6 form-label">Age</label>
                                    <input type="text" class="form-control" id = "addAgeField" >
                                </div>

                                <div class="mb-3 text-center">
                                    <label for="addUsernameField" class="h6 form-label">Username</label>
                                    <input type="text" class="form-control" id = "addUsernameField" >
                                </div>

                                <div class="mb-3 text-center">
                                    <label for="addPasswordField" class="h6 form-label">Password</label>
                                    <input type="text" class="form-control" id = "addPasswordField" >
                                </div>

                                <div class="mb-3 text-center">
                                    <label for="addRolesField" class="h6 form-label">Roles</label>
                                    <select class="form-select" name="roles" id = "addRolesField" >
                                        <option value="ROLE_USER">User</option>
                                        <option value='ROLE_ADMIN'>Admin</option>
                                    </select>
                                </div>
                                <br>
                                <div class="form-row text-center">
                                    <div class="col-12">
                                        <button type="button" class="btn btn-success" id="testAddUserButton">Add new user</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



<script>

    const userList = document.getElementById("inputPointUserList");
    const url = "http://localhost:8080/api/users"
    let htmlUserList = ``;


    // Get fetch part
    fetch(url)
        .then(response => response.json())
        .then(data => {
            data.forEach(user => {
                htmlUserList += `<tr> <td>${user.id}</td>
                            <td>${user.name}</td>
                            <td>${user.surname}</td>
                            <td>${user.age}</td>
                            <td>${user.username}</td>
                            <td>${user.roles.map(e =>e.name.substring(5))} </td>
                            <td>
                                <a hrref ="@{/api/users/(${user.id})}" class="btn btn-primary">Edit</a>
                            </td>
                            <td>
                                <button data-target="${'#deleteModal' + user.id}" type="button" class="btn btn-danger"
                                        data-toggle="modal">Delete
                                </button>
                            </td>
                             </tr>
`;
            });
            userList.insertAdjacentHTML("beforeend", htmlUserList );
        })


    // Post fetch part

    const butt = document.getElementById("testAddUserButton")
    butt.onclick = function() {

        let firstNameAdd = document.getElementById("addFirstNameField").value;
        let lastnameAdd = document.getElementById("addLastNameField").value;
        let ageAdd = document.getElementById("addAgeField").value;
        let usernameAdd = document.getElementById("addUsernameField").value;
        let passwordAdd = document.getElementById("addPasswordField").value;
        let rolesAdd = document.getElementById("addRolesField").value;
        let roleId;

        switch (rolesAdd) {
            case "ROLE_USER":
                roleId = 1;
                break;
            case "ROLE_ADMIN":
                roleId = 2;
                break;}

        fetch(url, {
            method: "post",
            headers: {'Content-type': 'application/json'},
            body: JSON.stringify({
                "name": firstNameAdd,
                "surname": lastnameAdd,
                "age": ageAdd,
                "username": usernameAdd,
                "password": passwordAdd,
                "roles": [{"id": roleId, "name": rolesAdd}]

            })
        })
    }

    // Edit fetch part




</script>

<script src = "main.js"></script>

</body>
</html>

